./build
/.idea/.gitignore
/.idea/.name
/build/resources/main/application.properties
/build/build-metrics.json
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.13/checksums/checksums.lock
/.idea/compiler.xml
/.idea/dataSources.xml
/.idea/db-forest-config.xml
/.gradle/8.13/executionHistory/executionHistory.bin
/.gradle/8.13/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.13/fileHashes/fileHashes.bin
/.gradle/8.13/fileHashes/fileHashes.lock
/.gradle/8.13/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/.idea/libraries/gradle_wrapper.xml
/build/classes/java/main/ca/usherbrooke/fgen/api/service/HelloService.class
/build/tmp/compileJava/compileTransaction/stash-dir/HelloService.class.uniqueId0
/.idea/jarRepositories.xml
/.gradle/8.13/fileChanges/last-build.bin
/build/classes/java/main/ca/usherbrooke/fgen/api/business/Message.class
/.idea/libraries/message_dev.xml
/build/classes/java/main/ca/usherbrooke/fgen/api/mapper/MessageMapper.class
/build/resources/main/ca/usherbrooke/fgen/api/mapper/MessageMapper.xml
/build/classes/java/main/ca/usherbrooke/fgen/api/service/MessageService.class
/.idea/misc.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/build/classes/java/main/ca/usherbrooke/fgen/api/business/Person.class
/build/tmp/compileJava/previous-compilation-data.bin
/build/reports/problems/problems-report.html
/build/quarkus/application-model/quarkus-app-dev-model.dat
/build/quarkus/application-model/quarkus-app-model.dat
/build/quarkus/application-model/quarkus-app-test-model.dat
/.gradle/8.13/fileHashes/resourceHashesCache.bin
/build/classes/java/main/ca/usherbrooke/fgen/api/business/Roles.class
/build/classes/java/main/ca/usherbrooke/fgen/api/service/RoleService.class
/.idea/S3-PROJET-MovieStreamer.iml
/.idea/libraries/schema.xml
/.idea/vcs.xml
.gradle/
/gradle/
/.gradle/
build/
.idea/
/build/
/.idea/
